.unknownPage {
  margin-top: 8.5vmin;
  background-color: #1b1c30;
  height: 91.5vmin;
  padding-left: 8%;
  padding-right: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .leftContent {
    width: 50%;
    
    .sideGraphic {
      width: 64%;
    }
  }
  .rightContent {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}

.unHeader {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 10vw;
  color: white;
  font-style: normal;
  font-weight: 400;
  text-align: start;
  line-height: 100%;
}

.unSubHeader {
  margin: 0;
  text-align: start;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 2.5vw;
  color: #fcf5eb;
  font-style: normal;
  font-weight: 400;
}
